<div class="row">
  <h2 class="float-start">Upload Area</h2>
</div>

<div class="row">
  <div>
    <input type="file" #file (change)="uploadFile(file.files)" class="d-none" />
    <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
  </div>
</div>

<div class="row mt-3" *ngIf="selectedFile">
  <div class="card">
    <img [src]="imgSrc" class="card-img-top" alt="..." *ngIf="selectedFile.type.includes('image')">
    <div class="card-body">
      <h5 class="card-title">{{ selectedFile.name }}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Type :</strong> {{ selectedFile.type }}</li>
      <li class="list-group-item"><strong>Size :</strong> {{ selectedFile.size | fileSize }}</li>
    </ul>
  </div>
</div>