<div>
  <div class="d-flex justify-content-between">
      <h2 class="float-start">File List</h2>
      <div>
        <button *ngFor="let ext of extensions | async" type="button" class="btn btn-primary position-relative ms-4" (click)="selectExtension(ext)">
          {{ ext.extension }}
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{ ext.count }}
            <span class="visually-hidden">files</span>
          </span>
        </button>
      </div>
  </div>
  <div class="d-flex">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>File Name</th>
          <th>Created Date</th>
          <th>Extension</th>
          <th>Size</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of files | async" [id]="'file_' + item.id">
          <td>{{ item.name }}</td>
          <td>{{ item.created | date:'short' }}</td>
          <td>{{ item.extension }}</td>
          <td>{{ item.size | fileSize }}</td>
          <td>
            <button class="btn mx-1 btn-secondary" (click)="download(item)"><i class="bi bi-download"></i></button>
            <button class="btn mx-1 btn-danger" (click)="deleteFile(item.id)"><i class="bi bi-trash3"></i></button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="d-flex">
    <pagination [totalItems]="totalCount" [(ngModel)]="userState.currentPage" [itemsPerPage]="userState.pageSize" (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>