<div>
  <div class="row"> 
    <alert id="error" type="danger" *ngIf="error | async">
      {{ error | async }}
    </alert>
  </div>
  <div class="row">
    <app-upload class="col-sm-4"></app-upload>
    <app-file class="col-sm-8"></app-file>
  </div>  

</div>